body{
    margin: 0px;
    border: 0px;
    background-color: #000;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
    background: linear-gradient(88.27deg, #574ae8 0%, #3ea1db 100%);
}
.container{
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 100px;
    align-items: center;
}
.logo{
    color: #fff;
    font-size: 24px;
    font-family: 'Lexend';
}
.blog{
    color: #fff;
    font-size: 24px;
    font-family: 'Lexend';
}
.nav-bar{
    display: flex;
    width: 900px;
    height: 65px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.2);
}



@font-face {
    font-family: 'Lexend';
    src: url('../../assets/fonts/LexendDeca-Regular.ttf');
  }