body{
    margin: 0px;
    border: 0px;
    background-color: #000;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
    background: linear-gradient(88.27deg, #574ae8 0%, #3ea1db 100%);
}
.container{
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 100px;
    align-items: center;
}
.logo{
    color: #fff;
    font-size: 24px;
    font-family: 'Lexend';
}
.blog{
    color: #fff;
    font-size: 24px;
    font-family: 'Lexend';
}
.nav-bar{
    display: flex;
    align-items: center;
    width: 900px;
    height: 65px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.nav-bar i{
    color: #fff;
    padding: 15px;
    opacity: 0.5;
}
.nav-bar input{
    border: 0px;
    width: 500px;
    height: 30px;
    background: transparent;
    color: #fff;
    font-size: 20px;
    opacity: 0.5;
}
.nav-bar input:focus, text:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0; 
}
.nav-bar input::placeholder{
    color: #fff;
    opacity: 0.5;
    font-size: 20px;
    font-family: 'InterRegular';
}
#geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(243, 245, 247);
    height: 1000px;
    width: 100%;
}
.box1{
    width: 900px;
    height: 195px;
    margin-top: 100px;
    background-color: salmon;
}



@font-face {
    font-family: 'Lexend';
    src: url('../../assets/fonts/LexendDeca-Regular.ttf');
  }

@font-face {
    font-family: 'InterMedium';
    src: url('../../assets/fonts/Inter-Medium.ttf');
  }
  
  @font-face {
    font-family: 'InterRegular';
    src: url('../../assets/fonts/Inter-Regular.ttf');
  }